@page "/"
@rendermode InteractiveServer

<TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
OnClick="@SayHelloHandler">Say Hello</TelerikButton>

<button @onclick="SayHelloHandler">Another click</button>

<p>@HelloString</p>

@code {
    private string? HelloString = "";

    public void SayHelloHandler()
    {
        string msg = "hello";
        HelloString = msg;
    }
}